.ellipse-div {
  width: 60px;
  position: relative;
  border-radius: 50%;
  background-color: #d9d9d9;
  height: 60px;
}
.kalyani-khona1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.ellipse-group,
.kalyani-khona-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.ellipse-group {
  position: absolute;
  top: 47px;
  left: calc(50% - 84px);
  width: 248px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.home-icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: visible;
  flex-shrink: 0;
}
.home3 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.home-group {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 224px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.frame-wrapper4 {
  width: 248px;
  position: relative;
  background-color: #fff;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  color: #ff5a56;
}
.frame-wrapper5 {
  color: #0d0d0d;
}
.frame-wrapper5,
.frame-wrapper6 {
  width: 248px;
  position: relative;
  background-color: #fff;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent12 {
  position: absolute;
  top: 147px;
  left: calc(50% - 84px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
}
.frame-parent11 {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 360px;
  height: 944px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}


/* Media Query for 1440x1080 Resolution */
@media screen and (max-width: 1440px) and (max-height: 1080px) {
  .frame-parent11 {
    width: 320px;
    height: 824px;
  }
}

/* Media Query for 1280x780 Resolution */
@media screen and (max-width: 1280px) and (max-height: 780px) {
  .frame-parent11 {
    width: 280px;
    height: 664px;
  }
}