.icondocument-verified {
  width: 16px;
  position: relative;
  height: 16px;
  object-fit: contain;
}

.cta-text1 {
  position: relative;
  line-height: 12px;
  font-weight: 600;
}

.iconchevron-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 2px solid #ffe9f9;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: none;
}

.vector-1-stroke2 {
  position: absolute;
  height: 66.88%;
  width: 41.88%;
  top: 16.88%;
  right: 25%;
  bottom: 16.25%;
  left: 33.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.iconchevron2 {
  width: 16px;
  position: relative;
  height: 16px;
}

.typesmall-themelight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0;
  gap: 4px;
  text-align: center;
  font-size: 12px;
  color: #0d0d0d;
  font-family: Inter;
}

/* Media Queries for 1440x1080 Resolution */
@media screen and (max-width: 1440px) and (max-height: 1080px) {
  .icondocument-verified {
    width: 14px;
    height: 14px;
  }

  .cta-text1 {
    line-height: 10px;
  }

  .iconchevron2 {
    width: 14px;
    height: 14px;
  }

  .typesmall-themelight {
    font-size: 10px;
  }
}

/* Media Queries for 1280x780 Resolution */
@media screen and (max-width: 1280px) and (max-height: 780px) {
  .icondocument-verified {
    width: 12px;
    height: 12px;
  }

  .cta-text1 {
    line-height: 8px;
  }

  .iconchevron2 {
    width: 12px;
    height: 12px;
  }

  .typesmall-themelight {
    font-size: 8px;
  }
}
